MNEMONIC=
ADDR0=
SECRET_NETWORK_LCD="https://pulsar.lcd.secretnodes.com"
SECRET_NETWORK_ID="pulsar-3"
CONTRACT_PATH=../optimized-wasm/cosmwasm_demo1.wasm.gz
CONTRACT_CODE_ID=
CONTRACT_CODE_HASH=
CONTRACT_ADDRESS=
